input {
    border-radius: 4px;
    padding: 6px 10px;
    border: 1px solid #cdd9ed;
}

.user-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.user-form__submit {
    font-family: inherit;
    font-size: 14px;
    border-radius: 4px;
    background-color: #066cf8;
    padding: 20px;
    cursor: pointer;
    color: white;
}

.user-form__submit:hover {
    background-color: rgba(6, 108, 248, 0.75);
}
