body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.field-not-valid {
    border-color: red;
    color: red;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header-1 {
    font-size: 24px;
}
